<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Edge Detection</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style-edge.css') }}"
    />
  </head>
  <body>
    <h2>Upload Gambar untuk Edge Detection</h2>
    <form method="POST" enctype="multipart/form-data">
      <input type="file" name="image" required />
      <div>
        <label for="pilih">Pilih Metode Deteksi Tepi:</label>
        <select name="pilih" id="pilih">
          <option value="prewitt">Prewitt</option>
          <option value="canny">Canny</option>
          <option value="sobel">Sobel</option>
          <option value="roberts">Roberts</option>
        </select>
      </div>
      <input type="submit" value="Proses" />
    </form>

    <form
      method="POST"
      action="{{ url_for('reset') }}"
      style="margin-top: 10px"
    >
      <button type="submit">Reset</button>
    </form>

    {% if output_exists %}
    <h3>Hasil Deteksi:</h3>
    <img
      src="{{ url_for('static', filename='../static/output.jpg') }}"
      alt="Output"
      style="max-width: 400px"
    />
    {% endif %}

    <div class="list-tugas">
      <a href="{{ url_for('threshold') }}">1. Thresholding</a>
      <a href="{{ url_for('main') }}">2. Edge Detection</a>
      <a href="{{ url_for('morphology') }}">3. Morphology</a>
      <a href="{{ url_for('morphology2') }}">4. Morphology Lanjutan</a>
    </div>
  </body>
</html>
